body {
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    margin: 0px;
    padding: 0px;
    background-image: url('contact.jpg');
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 20px
    
}

form h1 {
    font-size: 20px;
}

form .separation{
    width: 100%;
    height: 1px;
    background-color: coral;
}

form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

form .corps-formulaire .groupe {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 5px;
    padding: 10px 5px 10px ;
    border: 1px solid goldenrod;
}

.droite {
    margin-left: 40px;
}

.droite .groupe {
    height: 100%;
}

.droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: thistle;
    resize: none;
    height: 65%;
}

form .pied-formulaire button {
    margin-top: 10px;
    background-color: gold;

}